@model DoctorAppointmentSystem.Web.Areas.Admin.Models.DoctorUpdateModel
@{
    ViewData["Title"] = "Edit";
}

@section notification
{
    @await Html.PartialAsync("_Notification", Model.Notification)
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Edit Doctor</h3>
                </div>
                <!-- /.card-header -->
                <form role="form" enctype="multipart/form-data" id="myform" action="~/Admin/Doctor/Edit" method="post">
                    @Html.AntiForgeryToken()
                    <input hidden name="Id" value="@Model.Id" />
                    <div class="card-body">

                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Name </label>
                            <input type="text" class="form-control" name="Name" value=@Model.Name placeholder="Enter Department Name.....">
                        </div>

                        <div class="form-group">
                            <label for="Description">Description </label>
                            <textarea class="form-control" rows="5" cols="33" name="Description" @*value="@Model.Description"*@ placeholder="Enter Description Name.....">@Model.Description</textarea>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="DepartmentId" value="@Model.DepartmentId">
                                <option value="">Please Select Department</option>
                                @foreach (var department in Model.Departments)
                                {
                                    @if (Model.DepartmentId == department.Id)
                                    {
                                        <option value="@department.Id" selected>@department.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@department.Id">@department.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="UserId">
                                <option value="">Please Select Email</option>
                                @foreach (var user in Model.AppUsers)
                                {
                                    @if (Model.UserId == user.Id)
                                    {
                                        <option value="@user.Id" selected>@user.Email</option>
                                    }
                                    else
                                    {
                                        <option value="@user.Id">@user.Email</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <img src="/FrontEnd/images/@Model.ImageName" width="200" height="200" class="rounded-circle">
                        </div>
                        <div class="form-group">
                            <label for="file">Choose A file </label>
                            <input type="file" class="form-control" name="file" />
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
